* {
  box-sizing: border-box;
}
div {
  width: 300px;
  height: 500px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/task1/nature.jpeg);
  background-position: center;
  /* background-clip: border-box; */
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  padding-top: 32px;
  text-align: center;
  background-size: cover;
}
