.image-container {
  display: flex;
  width: 100vw;
  /* margin: auto; */
  /* height: 100vh; */
  position: absolute;
  justify-content: center;
  align-items: center;
  /* padding: auto; */
  /* top: calc(50%-25px); */
  /* left: calc(50%-100px); */
}

.image {
  max-width: 500px;
  max-height: 333px;
}
.image-button {
  position: absolute;
  /* display: flex; */
  width: 200px;
  line-height: 50px;
  text-align: center;
  /* padding: auto; */
  background-color: bisque;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.5;
  cursor: pointer;
  /* padding: auto; */
  /* top: calc(50%-25px); */
  /* left: calc(50%-100px); */
}
.image-button:hover {
  opacity: 1;
}
