.image-button:hover {
  opacity: 1;
}
.image {
  max-width: 100%;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.image-button {
  opacity: 0.5;
  font-size: 12px;
  background-color: bisque;
  cursor: pointer;
  text-transform: uppercase;
  width: 200px;
  line-height: 50px;
  font-weight: 700;
  position: absolute;
  text-align: center;
  /* display: block; */
  top: calc(50% - 25px);
  left: calc(50% - 100px);
}
