* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.spinner {
  display: flex;
  margin: auto;
  flex-direction: column;
}
.spinner-text {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 16px;
  animation: blinking 2s 2s infinite linear;
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.circle {
  margin: 0 auto 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid lightgrey;
  border-top: 4px solid black;
  animation: spin-circle 2s 2s linear;
}
@keyframes spin-circle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
