* {
  box-sizing: border-box;
}
body {
  position: relative;
  display: flex;
  justify-content: center;
}
.block {
  display: block;
  position: absolute;
  /* top: -100px; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  line-height: 100px;
  width: 250px;
  height: 100px;
  background-color: coral;
  text-align: center;
  border-radius: 10px;
  animation: block 2s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}
@keyframes block {
  from {
    top: 100px;
  }
  to {
    top: calc(50vh - 50px);
  }
}
