html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.header {
  display: flex;
  height: 3em;
  padding: 0 1em;
  background-color: #eee;
}
.btn {
  align-items: center;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  background-image: none;
}
.fas {
  font-size: 2em;
}

.nav-list {
  padding: 0;
  list-style-type: none;
}
.navigation {
  padding: 0.5em;
}
.nav-list-item {
  width: 20vw;
  background-color: #808080;
  color: #fff;
  height: 2em;
  margin-bottom: 0.5em;
}
.nav-list-link {
  display: block;
  padding: 0 0.5em;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2em;
}
@media screen and (max-width: 599px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .btn {
    display: none;
  }
}
