* {
  box-sizing: border-box;
}
.spinner-text {
  font-size: 16px;
  font-family: monospace;
  text-transform: uppercase;
  animation-name: blinking;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: linear;
}
.spinner {
  display: block;
  position: relative;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.rect {
  position: absolute;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  background-color: black;
  animation-name: blinking, moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 70px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
