.header {
  height: 3em;
  background-color: $color-primary;
  color: $text-color;
}
.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  text-transform: uppercase;

  &__item {
    display: block;
    line-height: 3em;
    margin-left: 3em;
    padding: 0 $unit;
    color: $text-color;
  }
  .menu__item:hover {
    background-color: $color-secondary;
  }
  &__item_active {
    color: $text-color-primary;
    background-color: $color-secondary;
    &:hover {
      .submenu {
        display: block;
      }
    }
  }
}

.submenu {
  display: none;
  min-width: 120px;
  position: absolute;
  background-color: $color-fon-nav;
  margin: 0;
  padding: 0;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: $text-color-fon-nav;
  top: 3em;
  z-index: 1;

  &__item {
    height: 3em;
    margin: 0 $unit;
    line-height: 3em;
  }
}
.submenu__item:hover {
  color: $text-color-secondary;
}
