* {
  box-sizing: border-box;
}
html {
  font-family: Verdana;
  font-size: 16px;
  color: #555;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: #fff;
  background-image: linear-gradient(60deg, red, orange);
}
.footer {
  display: flex;
  position: absolute;
  width: 100vw;
  background-color: #e5e5e5;
  padding: 0.5em;
  justify-content: center;
  bottom: 0;
  left: 0;
}
.main {
  display: flex;
  flex-direction: row;s
}
.navigation {
  width: 20vw;
  padding: 0.5em;
  height: 100vh;
}
.section {
  width: 60vw;
  height: 100vh;
  padding: 0.5em;
  font-size: 1.25em;
}
.news {
  width: 20vw;
  padding: 0.5em;
  height: 100hw;
}
.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.section__header {
  font-size: 5vw;
  text-align: center;
}
.nav-list {
  list-style-type: none;
  padding: 0;
  /* margin: 0; */
}
.nav-list-item {
  display: flex;
  align-items: center;
  background-color: #808080;
  width: 100%;
  height: 2em;
  margin-bottom: 0.5em;
  color: #fff;
  padding: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.nav-list-link {
    display: block;
  color: #fff;
  text-decoration: none;
 
}
