* {
  box-sizing: border-box;
  /* margin: 0; */
  list-style-type: none;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #555;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: #fff;
  background-image: linear-gradient(60deg, red, orange);
}
.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.navigation {
  width: 20%;
  padding: 0.5em;
  height: 100%;
}
.section {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: 0.5em;
  font-size: 1.25em;
}
.news {
  width: 20%;
  padding: 0.5em;
  height: 100%;
}
.footer {
  display: flex;
  position: absolute;
  width: 100vw;
  background-color: #e5e5e5;
  padding: 0.5em;
  justify-content: center;
  bottom: 0;
  left: 0;
}
.css-units {
  line-height: 1.75em;
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.section__header {
  font-size: 5vw;
  margin: auto;
}
.nav-list {
  padding: 0;
}
.nav-list-item {
  background-color: #808080;
  width: 100%;
  height: 2em;
  margin-bottom: 0.5em;
  color: #fff;
  padding: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nav-list-link {
  color: #fff;
  text-decoration: none;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}
