* {
  box-sizing: border-box;
}
table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}
td,
th {
  padding: 4px;
}
table {
  width: 500px;
  text-align: right;
  /* margin: 16px; */
  font-family: Arial, Helvetica, sans-serif;
}
div {
  overflow-x: auto;
}
tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tbody > tr:hover {
  color: white;
  background-color: #aaa;
}
thead {
  background-color: aqua;
}
tfoot {
  font-weight: 700;
}
caption {
  margin-bottom: 8px;
}
tr {
  line-height: 25px;
}
