* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-family: Verdana;
  font-size: 16px;
  color: #555;
}
body {
  height: 100%;
}
.wrapper {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: #fff;
  background-image: linear-gradient(60deg, red, orange);
}
.footer {
  display: flex;
  width: 100vw;
  background-color: #e5e5e5;
  padding: 0.5em;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  flex: 1 1 auto;
}
.container {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}
.navigation {
  max-width: 20vw;
  padding: 0.5em;
  /* height: 100%; */
  flex-grow: 1;
}
.section {
  max-width: 60vw;
  /* height: 100%; */
  padding: 0.5em;
  font-size: 1.25em;
  flex-grow: 1;
}
.news {
  max-width: 20vw;
  padding: 0.5em;
  /* height: 100%; */
  flex-grow: 1;
}
.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.section__header {
  font-size: 5vw;
  text-align: center;
}
.nav-list {
  list-style-type: none;
  padding: 0;
}
.nav-list-item {
  background-color: #808080;
  height: 2em;
  margin-bottom: 0.5em;
  color: #fff;
}
.nav-list-link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2em;
}
img {
  max-width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
picture {
  flex-shrink: 1;
  flex-grow: 1;
}

@media screen and (max-width: 599px) {
  .main {
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
  .navigation {
    max-width: 100%;
  }
  .section {
    max-width: 100%;
  }
  .news {
    max-width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .main {
    flex-direction: column;
  }
  .container {
    flex-direction: row;
  }

  .section {
    max-width: 80%;
  }
  .news {
    max-width: 100%;
  }
}
