.anchor:link {
  background-color: black;
  color: white;
}
.anchor:visited {
  color: green;
  background-color: orange;
}
.anchor:active,
.some-button:active {
  border: 3px solid red;
}
.anchor:hover {
  font-size: 24px;
}
.some-button:disabled {
  border: 2px dashed grey;
}
.some-button:hover:enabled {
  color: white;
  background-color: grey;
}
.search:focus {
  background-color: orange;
}
.confirm-checkbox:checked {
  margin-left: 20px;
}
