input[type='checkbox']:checked {
  margin-left: 50px;
}
.special::first-letter {
  font-size: 100px;
  color: green;
}
h1:hover {
  color: blue;
}
a:visited {
  color: grey;
}
label > input:focus {
  text-transform: uppercase;
}
