* {
  box-sizing: border-box;
}
.page {
  display: flex;
  background-color: bisque;
  height: 100vh;
}
.login-form {
  display: block;
  background-color: aqua;
  font-size: 16px;
  font-family: monospace;
  width: 300px;
  padding: 16px;
  margin: auto;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.form-title {
  text-transform: uppercase;
  text-align: center;
}
.form-label {
  display: block;
  margin-bottom: 4px;
}
.form-control {
  display: block;
  margin-bottom: 8px;
}
.form-input {
  display: block;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  border: 1px #808080;
  padding: 4px;
  outline: none;
}
input[type='text'] {
  border: 3px #f00;
}
.submit-button {
  display: block;
  margin-top: 24px;
  width: 100%;
  height: 32px;
  background-color: #ff7f50;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
}
