.list {
  list-style-type: none;
  font-size: 1.5em;
}
.third {
  text-decoration: underline;
  text-decoration-color: green;
}
.second {
  text-decoration: line-through;
}
.first {
  text-decoration: overline;
  text-decoration-color: red;
}
