html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 32px;
}
p {
  line-height: 28px;
}
.bold {
  text-decoration: underline;
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 80%;
  font-weight: bold;
}
em {
  color: grey;
  font-style: italic;
}
a {
  text-decoration: none;
}
.tittle {
  text-transform: uppercase;
  word-spacing: 20px;
  text-align: center;
  margin: auto;
}
