* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.container {
  margin: 32px;
}
p {
  line-height: 28px;
}
.bold {
  text-decoration: underline;
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 0.8;
  /* font-weight: bold; */
}
em {
  color: grey;
  /* font-style: italic; */
}
a {
  text-decoration: none;
}
.tittle {
  text-transform: uppercase;
  word-spacing: 20px;
  text-align: center;
  /* margin: auto; */
}
